.container{
    max-width: 640px;
    margin:auto;
    width:100%;
    padding:10px;
    text-align:center;
}
ul{
    list-style-type: none;
    text-align: center;
}
button{
    outline: none;
    box-shadow: none;
    padding: 10px 0;
    margin: 10px 0;
    max-width: 150px;
    width:100%;
    background-color: #d9e4f2;
    font-weight: bold;
}